@font-face {
    font-family: "game";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
}
/*-----------toggler dark and light---------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
html {
    height: 100%;
    color: #6e7888;
    font-family: "Poppins", sans-serif;
    
}
body {
    color: #6e7888;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    transition: background 0.2s linear;

}
body.dark {
    background: #232c35;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    background-color: #ccc;
    border-radius: 20px;
    border: 2px solid #bbb;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    height: 20px;
    width: 40px;
    top: 10px;
    right: 10px;
    transition: all 300ms ease-in-out;

   


}
label .ball {
    background-color: deeppink;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 12px;
    width: 12px;
    transform: translateX(0px);
    transition: all 300ms ease-in-out;
} 
.checkbox:checked + .label .ball {
    transform: translateX(22px);
       
}   
#chk:checked ~ .label {
    background: deeppink;
}
#chk:checked ~ label .ball {
    background: #ccc;
    left: 0px;
}
/*-----------Game---------------*/
.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
canvas {
    background-color: #181825;
}
button:focus {
    outline: 0;
}
#ui {
    display: flex;
    align-items: center;
    font-size: 10px;
    flex-flow: column;
    margin-left: 10px;
  }
  h2 {
    font-weight: 200;
    transform: rotate(0deg);
  }
  #score {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
  }
  .noselect {
    user-select: none;
  }
  #replay {
    margin-right: 5px;
    font-size: 10px;
    padding: 10px 20px;
    background: #6e7888;
    border: none;
    color: #222738;
    border-radius: 20px;
    font-weight: 800;
    transform: rotate(0deg);
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #replay:hover {
    background: #a6aab5;
    background: #4cffd7;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #replay svg {
    margin-right: 8px;
  }
  @media (max-width: 600px) {
    #replay {
      margin-bottom: 20px;
    }
    #replay,
    h2 {
      transform: rotate(0deg);
    }
    #ui {
      flex-flow: row wrap;
      margin-bottom: 20px;
    }
    #score {
      margin-top: 0;
      margin-left: 20px;
    }
    .container{
        flex-flow: column wrap;
    }
}
#author {
  width: 100%;
  bottom: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: inherit;
  text-transform: uppercase;
  padding-left: 35px;
}
#author span {
  font-size: 10px;
  margin-left: 20px;
  color: inherit;
  letter-spacing: 4px;
}
#author h1 {
  font-size: 25px;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
